.linkstyle {
    background-color: cyan;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
}


.linkstyle:hover {
    background-color:blue;
}

.linkstyle {
    display: block;
    width: 10vw;
    height: 50vh;
}