/* 任何地方都可以設定Opacity透明度，最大值為1 */
h1{
    opacity: 0.5;
}
image{
    opacity: 0.3;
}

/* Cursor Pointer 滑鼠游標移到圖片上會變成的形狀*/
image {
    cursor: wait;
}
image {
    cursor: alias;
}
image {
    cursor: none;
}
