div.container {
    width: 500px;
    height: 500px;
    background-color: black;
}

div.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: relative;
    /* Animation 基礎寫法 */
    /* animation-name: cross;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards; */
    
    /* Animation 簡短寫法 */
    animation: cross 2s ease-in 3s 2 alternate forwards;
}

/* keyframes, animation-name, animation duration  */
@keyframes cross {
    from {
        background-color: aqua;
        top:0;
        left: 0;
    }
    to {
        background-color: red;
        top: 400px;
        left: 400px;
    }
}