/* Pseudo Elements */
p::before {
    content: ">>";
    color: red;
}

h1::after {
    content: "↓";
    color: red;
}

p::first-letter {
    font-size: 2.5rem;
}

*::selection {
    background-color: seagreen;
}